body {
  
  font-family: Helvetica Neue, sans-serif;
    padding:0;
  margin:0;
  background-color: #f4f4f4;
}


#nttLogo{
  
  height: 50px;
  width: 50px;
 
  margin-left: 3em; 
}
#websiteTitle{

  font-size: 2.5em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 1em;
  color: #191970;
}
#websiteSlogan{
  padding-left: 2em;
  font-size: 1.4em;
  color:#191970
}
/* Carousel Styling */
.slide1{
  background-image: url('../Img/fuji3.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../Img/fuji1.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../Img/fuji2.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 4.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 1.5em;
}


/*Mobile Styles  */
@media only screen and (max-width: 960px) {

  .slide1 {
      background-image: url('../Img/fuji1smaho.jpg');
  }
    .slide2 {
      background-image: url('../Img/fuji2smaho.jpg');
  }
    .slide3 {
      background-image: url('../Img/fuji3smaho.jpg');
  }
} 



#Header .jumbotron{
   background-image: linear-gradient(#f09819,
#edde5d);
 
  background-size: cover;
  margin:auto;
 
}




#Center .jumbotron{
  background-image: linear-gradient(#7b4397 ,#dc2430);
  padding-left: 4em;
  margin:auto;
 
}

#Center #drop{
  float:  right;
  padding-right: 5em;
}

#Footer .well  {
    background-color: #dc2430; 
    color:white;

}

footer{
  margin:auto;
  padding:20px;
  color:#fff;
  background-image: linear-gradient(#e8491d ,#dc2430);
  text-align: center;

}
