body {
  
  font-family: Helvetica Neue, sans-serif;
}


/* Global */
.container {
  width: 80%;
  margin:auto;
  overflow:hidden;
}

#nttLogo{
  height: 100px;
  width: 100px;
}
#websiteTitle{
  font-size: 2.5em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 15px;
  color: #191970;
}
#websiteSlogan{
  font-size: 1.4em;
}
/* Carousel Styling */
.slide1{
  background-image: url('../Img/fuji3.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../Img/fuji1.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../Img/fuji2.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 4.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 1.5em;
}


#Header .jumbotron{
   background-image: linear-gradient(#02aab0 ,#00cdac);
}




#Center .jumbotron{
  background-image: linear-gradient(#7b4397 ,#dc2430);
}

#Footer .well  {
    background-color: #dc2430; 
    color:white;
    padding-top: 5px;
}